  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <h2>Create-A-Corgi</h2>
    <a 
      href="/corgis/new" <%- title === 'Add Corgi' ? 'class="active"' : '' %>
    >
      ADD CORGI
    </a>
    <a 
    href="/corgis" <%- title === 'All Corgis' ? 'class="active"' : '' %>
    >
      ALL CORGIS
  </a>
    <% if (user) { %>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
