<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome!</h1>

  <h3><%= user ? 'Create A Corgi!' : 'Sign in to Create A Corgi!' %></h3>
  <img src="/images/corgimain.jpg" alt="fall corgis">
  <div class="info">
    <p>The Welsh Corgi is a small herding dog, also known as a Corgi, that originated in Wales. There are two disticnt breeds, the Pembroke Welsh Corgi and the Cardigan Welsh Corgi. People are more familiar with the Pembroke, made popular by Queen Elizabeth II. Corgis are fun-loving, energetic, and make a great family pet.</p>
    <p>Most people are unaware of the two breeds. The Cardigan is descended from a different lineage and is the older breed by over two thousand years. The Cardigan and the Pembroke are both considered dwarf breeds with long bodies and short legs. They have been used to herd cattle in Wales for hundreds of years.</p>
  </div>
  <img src="/images/cardigan.jpg" alt="three cardigans">
  <div class="info">  
    <p>The Cardigan Welsh Corgi is distinguished by its long fox-like tail and rounded ears. They are also slightly larger than Pembrokes and can weigh up to 38 pounds. They come in a wider variety of colors, such as brindle, black and white, red and white, sable, and blue merle. While both breeds are fairly energetic, the Cardigan can be a bit more laid back.</p>
    <p>The Pembroke Welsh Corgi is known for their docked tails and fluffy butts. They are smaller than the Cardigan and only weigh up to 30 pounds. The Pembroke only comes in a few colors, including red and white, sable, and tricolor.</p>
  </div>
</main>

<%- include('./partials/footer') %>
