
body {
  background-color: #006b5f;
  color: #80dbcc;
  font-family: 'Grandstander', cursive, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

nav {
  background-color: #ff9b0b;
  color: #7c3000;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

nav > a {
  text-decoration: none;
  margin-left: auto;
  padding: 4px;
  font-size: 20px;
  color: #7c3000;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.right > button {
  grid-column: span 2;
  border: none;
  background-color: #ff9b0b;
  color: #7c3000;
  width: 140px;
  margin: auto;
  font-size: 22px;
}

.right > button:hover {
  box-shadow:0 2px 4px rgba(0,0,0,0.8);
}