
body {
  background-color: #006b5f;
  color: #80dbcc;
  font-family: 'Grandstander', cursive, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

nav {
  background-color: #ff9b0b;
  color: #7c3000;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

nav > h2 {
  margin: 0;
}

nav > a {
  text-decoration: none;
  margin-left: auto;
  padding: 4px;
  font-size: 22px;
  font-weight: 800;
  color: #7c3000;
}

nav > a:hover,
.right > button:hover {
  color: #80dbcc;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.right > button {
  grid-column: span 2;
  border: none;
  background-color: #ff9b0b;
  color: #7c3000;
  width: 100px;
  margin: auto;
  font-size: 22px;
  font-weight: 800;
}

@media all and (max-width: 500px) {
  nav {
    flex-direction: column;
  }

  nav > a {
    margin: auto;
  }
}