
a {
  color: #80dbcc;
  text-decoration: none;
  text-align: center;
}

div > a:hover {
  color: #006b5f;
}

.card-title {
  font-weight: 800;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}