form {
  display: grid;
  row-gap: 8px;
  grid-template-columns: repeat(2, minmax(auto, 180px));
  margin-top: 30px;
  font-size: 22px;
}

form * {
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

input, 
select, 
#bio {
  background-color: #006b5f;
  color: #80dbcc;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.4);
  transition: .3s;
}

input:hover, 
select:hover, 
#bio:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.8);
}

button {
  grid-column: span 2;
  border: none;
  border-radius: 10px;
  background-color: #ff9b0b;
  color: #7c3000;
  width: 140px;
  margin: 20px auto;
  font-size: 22px;
}

button:hover {
  box-shadow:0 2px 4px rgba(0,0,0,0.8);
}