<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/corgis" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" required>
    <label for="breed-input">Breed:</label>
    <select name="breed">
      <option value="Pembroke">Pembroke</option>
      <option value="Cardigan">Cardigan</option>
    </select>
    <label for="color-input">Color:</label>
    <select name="color">
      <option value="Red and White">Red and White</option>
      <option value="Black and White">Black and White</option>
      <option value="Tri">Tri Color</option>
      <option value="Blue Merle">Blue Merle</option>
    </select>
    <label for="age-input">Age:</label>
    <input type="number" name="age" min="1" required>
    <button type="submit">Submit</button>
  </form>
</main>

<%- include('../partials/footer') %>